<div class="row">
<div class="medium-6 columns{% if page.sidebar == NULL %} medium-offset-3 end{% endif %}{% if page.sidebar == 'left' %} medium-push-4{% endif %}">
<img src="{{ site.urlimg }}factory.png" alt="">
</div>
</div>

<div class="row t30">
    <div class="medium-2 columns">
    </div>
    <div class="medium-10 columns">
        Located in Zhejiang, China, AcouSource Audio has been designing and manufacturing speaker products since 2000.
    </div>
</div>

<div class="row t30">
<div class="medium-2 columns">
    <h3 class = "about-title"> Products </h3>
</div>
<div class="medium-10 columns">
    We specialize in the design and production of speaker drivers, including woofers, subwoofers, midrange drivers, and tweeters. Our products are widely applied in professional audio systems, home audio equipment, and other sound applications. We also manufacture various other audio products such as speaker enclosures and ceiling speakers.
</div>
</div>

<div class="row t30">
    <div class="medium-2 columns">
        <h3 class = "about-title"> Service </h3>
    </div>
    <div class="medium-10 columns">
        In addition to our own white-label product lines, we provide flexible OEM services tailored to customer requirements. We are capable of developing products based on technical specifications, physical samples, or reference designs. We understand the importance of accurate reproduction, component sourcing, and quality consistency in OEM projects.
    </div>
</div>

<div class="row t30">
<div class="medium-2 columns">
    <h3 class = "about-title"> Team </h3>
</div>
<div class="medium-10 columns">
    We have experienced engineers and production workers with more than 20 years of industry experience. Our team supports customers from product evaluation and sample development to mass production, ensuring stable quality and consistent performance. We also provide fluent English customer service.
</div>
</div>

<div class="row t30">
    <div class="medium-2 columns">
        <h3 class = "about-title"> Customers </h3>
    </div>
    <div class="medium-10 columns">
With over two decades of continuous operation, we have built long-term partnerships with customers across multiple international markets. Our products are exported worldwide, with primary markets in Europe, North America, Latin America, and Africa. Over the years, we have gained experience working with international customers, including brand owners, distributors, and private-label companies.
    </div>
</div>

<div class="row t30">
    <div class="medium-2 columns">
        <h3 class = "about-title"> Promise </h3>
    </div>
    <div class="medium-10 columns">
AcouSource Audio is committed to building long-term, reliable partnerships by providing practical manufacturing solutions, stable product quality, and dependable service.
    </div>
</div>